doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ChatBot
h4 Hello This is the Start of the ChatBot!!
h2 `#{messageR}`
button(id = "sendData") Click Here
script(src='server.js')
